body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #d01414;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
}

.navimg{
    height: 50px;
    width: 125px;
    padding: 10px;
    padding-top: 20px;
}

.navitems{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-right: 100px;
}
.navitems:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-transform: scale(1.1, 1.1);
    transition: opacity 0.3s ease-in-out;
}

.navitems:after{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 120px;
}
li{
    padding: 10px;
}