body{
    margin: 0;
    padding: 0;

}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

.footericons{
    padding-left: 40px;
}
.footertext{
    color: white;
    justify-content: flex-end;
    padding-right: 80px;
}
